/*------- VARIABLE --------*/
html{
    --color-light-gray: rgb(46, 57, 81);
    --color-dark-gray: rgb(33, 43, 65);
    --color-green: rgb(26, 175, 142);

}

/*------- BASIC SETUP --------*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgb(151, 219, 208);
}

/*------- CALCULATOR STYLE --------*/
.calculator{
    width: 320px;
    height: 530px;
    background-color: var(--color-light-gray);
    margin: 40px auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*-------- INPUT AND ANSWER --------*/

#input{
    position: absolute;
    top: 40px;
}

#answer{
    position: absolute;
    top: 150px;
}

#input, #answer{
    width: 317px;
    height: 110px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-green);
    text-align: right;
    background-color: var(--color-dark-gray);
    border: none;
    outline: 0;
}

/*------- BUTTON OPERATOR AND BUTTON NUMBER --------*/
.btn-operator, .btn-number{
    width: 70px;
    height: 50px;
    position: relative;
    margin: 2px;
    top: 40px;
    left: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: none;
    outline: 0;
    
}

.btn-number{
    color: rgb(129, 146, 144);
    background-color: var(--color-light-gray);
}

.btn-operator{
    color: var(--color-green);
    background-color: var(--color-dark-gray);
}

.btn-number:hover, 
.btn-operator:hover{
    color: var(--color-dark-gray);
    background-color: var(--color-green);
    cursor: pointer;
    border: none;
    outline: 0;
}

/*-------- BUTTON ERASER -------*/
ion-icon{
    color: var(--color-green);
    font-size: 20px;
}

.btn-eraser{
    width: 40px;
    height: 30px;
    position: absolute;
    left: 530px;
    top: 225px;
    z-index: 1;
    background-color: var(--color-dark-gray);
    border: none;
    outline: 0;
}

.btn-eraser:hover{
    background-color: var(--color-light-gray);
}