
/*------- BASIC SETUP --------*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgb(216, 203, 208);
}

/*------- CALCULATOR STYLE --------*/
.calculator{
    width: 300px;
    height: 530px;
    background-color: rgb(24, 20, 21);
    margin: 40px auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 15px;
}

/*-------- INPUT AND ANSWER --------*/

#input{
    top: 39px;
    border-radius: 15px;
}

#answer{
    top: 126px;
}

#input, #answer{
    width: 300px;
    height: 100px;
    position: absolute;
    left: 533px;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    color:  rgb(24, 20, 21);
    background-color:  rgb(224, 214, 218);
    border: none;
    outline: 0;
}

/*------- BUTTON OPERATOR AND BUTTON NUMBER AND BUTTON EQUALS --------*/
.btn-operator, .btn-number{
    width: 53px;
    height: 53px;
    position: relative;
    margin: 6px;
    top: 40px;
    left: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: 0;
    border-radius: 70px;
    background-color: rgb(24, 20, 21);
    color: rgb(216, 203, 208);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    
}

.btn-equals{
    width: 120px;
    background-color:   rgb(216, 203, 208) ;
    color:rgb(24, 20, 21);
    
}

.btn-operator:hover, .btn-number:hover{
    background-color:   rgb(216, 203, 208) ;
    color:rgb(24, 20, 21);
}

.btn-equals:hover{
    background-color: rgb(24, 20, 21);
    color: rgb(216, 203, 208);
}
